# 忽略整个文件夹
data/
data_*/
other_files/

# 忽略特定类型的文件
*.png
*.asv
!doc/*.png

de_silva_data/*.pdf
*.pdf
*.ai
*.mat


# 忽略特定的文件
secret_config.json
split/看起来还行/.DS_Store
de_silva_data/.DS_Store
doc/.DS_Store
JHTDB_data/.DS_Store
.DS_Store
split/daughter_size_distribution_fixed.txt

split/result.jpg
.DS_Store
